---
version: "3.7"
services:
  sabnzbd:
    image: 'ghcr.io/linuxserver/sabnzbd:4.3.2@sha256:31ea64a7ce1e9a5ff8187f9b7c905eaa1d0a79d49b04724e47059c67407157eb'
    container_name: sabnzbd
    labels:
      - traefik.enable=true
      - traefik.http.services.sabnzbd.loadbalancer.server.port=8080
      - show.external=true
    environment:
      - PUID=9001
      - PGID=9001
      - TZ="Australia/Melbourne"
    volumes:
        - '/ctr_cfg/sabnzbd/config:/config'
        - '/mnt/downloads:/media'
    restart: 'unless-stopped'
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/sabnzbd"]
      interval: 1m
      timeout: 10s
      retries: 3
      start_period: 30s
networks:
  default:
    external: true
    name: ctr-network
