---
version: "3.7"
services:
  sabnzbd:
    image: 'ghcr.io/linuxserver/sabnzbd:4.4.1@sha256:7afe3af1cff19c2a7a5d4bacb2202fcb21a0ee15b7e23e4114ab3f7070213662'
    container_name: sabnzbd
    labels:
      - traefik.enable=true
      - traefik.http.services.sabnzbd.loadbalancer.server.port=8080
      - show.external=true
    environment:
      - PUID=9001
      - PGID=9001
      - TZ="Australia/Melbourne"
    volumes:
        - '/ctr_cfg/sabnzbd/config:/config'
        - '/mnt/downloads:/media'
    restart: 'unless-stopped'
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/sabnzbd"]
      interval: 1m
      timeout: 10s
      retries: 3
      start_period: 30s
networks:
  default:
    external: true
    name: ctr-network
