---
version: "2.3"

services:
  ntfy:
    image: binwiederhier/ntfy:v2.11.0
    container_name: ntfy
    command:
      - serve
    labels:
      - traefik.enable=true
      - traefik.http.services.ntfy.loadbalancer.server.port=80
      - show.external=true
    environment:
      - TZ="Australia/Melbourne"
    user: 9001:9001
    volumes:
      - ./data:/var/cache/ntfy
      - ./config:/etc/ntfy
    healthcheck:
        test: ["CMD-SHELL", "wget -q --tries=1 http://localhost:80/v1/health -O - | grep -Eo '\"healthy\"\\s*:\\s*true' || exit 1"]
        interval: 60s
        timeout: 10s
        retries: 3
        start_period: 15s
    restart: unless-stopped
networks:
  default:
    external: true
    name: ctr-network