---
version: "3.7"
services:
  radarr:
    image: 'ghcr.io/linuxserver/radarr:5.4.6@sha256:de04dd8f6b3d0ba6223e505e8c6e1a374fe281fd17162ea517ff1c7dfe1289c3'
    container_name: radarr
    labels:
      - traefik.enable=true
      - traefik.http.services.radarr.loadbalancer.server.port=7878
      - show.external=true
    environment:
      - PUID=9001
      - PGID=9001
      - TZ="Australia/Melbourne"
    volumes:
      - '/ctr_cfg/radarr/config:/config'
      - '/mnt/videos:/movies'
      - '/mnt/downloads:/media'
    restart: 'unless-stopped'
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:7878/radarr"]
      interval: 1m
      timeout: 10s
      retries: 3
      start_period: 1m
networks:
  default:
    external: true
    name: ctr-network
