---
version: "2.4"
services:
  cloudflared:
    image: 'cloudflare/cloudflared:2024.2.0'
    container_name: cloudflared
    user: 9001:9001
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - ./config:/config
    command:
      - "tunnel"
      - "--no-autoupdate"
      - "--config"
      - "/config/config.yml"
      - "run"
    restart: 'unless-stopped'

  traefikexternal:
    image: traefik:v2.10.7
    container_name: traefikexternal
    labels:
      - traefik.enable=true
      - traefik.http.services.traefikexternal.loadbalancer.server.port=8080
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--providers.docker.constraints=Label(`show.external`,`true`)"
      - '--providers.docker.defaultRule=Host(`{{ index .Labels "com.docker.compose.service" }}.$externaldomain`)'
      - "--certificatesresolvers.cf.acme.dnschallenge=true"
      - "--certificatesresolvers.cf.acme.dnschallenge.provider=cloudflare"
      - "--certificatesresolvers.cf.acme.email=$email"
      - "--certificatesresolvers.cf.acme.storage=/letsencrypt/acme.json"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.web.http.redirections.entryPoint.to=secure"
      - "--entrypoints.web.http.redirections.entryPoint.scheme=https"
      - "--entrypoints.web.http.redirections.entrypoint.permanent=true"
      - "--entrypoints.secure.address=:443"
      - "--entryPoints.secure.forwardedHeaders.trustedIPs=172.16.0.1/12"
      - "--entrypoints.secure.http.tls=true"
      - "--entrypoints.secure.http.tls.certResolver=cf"
      - "--entrypoints.secure.http.middlewares=autheliaexternal@docker"
      - "--accesslog=true"
      - "--accesslog.filters.statuscodes=300-399,400-499,500-599"
    environment:
      - "CF_ZONE_API_TOKEN=$API_TOKEN"
      - "CF_DNS_API_TOKEN=$API_TOKEN"
    networks:
      - default
      - ctrnetwork
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./ext_letsencrypt:/letsencrypt
    depends_on:
      - autheliaexternal

  autheliaexternal:
    image: authelia/authelia:4.37.5
    container_name: autheliaexternal
    labels:
      - traefik.enable=true
      - traefik.http.services.autheliaexternal.loadbalancer.server.port=9091
      - traefik.http.middlewares.autheliaexternal.forwardauth.address=http://autheliaexternal:9091/api/verify?rd=https://autheliaexternal.$externaldomain/
      - traefik.http.middlewares.autheliaexternal.forwardauth.trustForwardHeader=true
      - traefik.http.middlewares.autheliaexternal.forwardauth.authResponseHeaders=Remote-User, Remote-Groups, Remote-Name, Remote-Email
      - show.external=true
    environment:
      - PUID=9001
      - PGID=9001
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./ext_authelia:/config
    networks:
      - default
      - ctrnetwork
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    depends_on:
      - redis
    healthcheck:
      test: ["CMD", "/app/healthcheck.sh"]
      interval: 1m
      timeout: 10s
      retries: 3
      start_period: 15s
  redis:
    image: redis:7.2.4-alpine
    restart: unless-stopped
    command: redis-server --save 20 1 --loglevel warning --requirepass authelia
    volumes: 
      - ./redis:/data
networks:
  default:
  ctrnetwork:
    external: true
    name: ctr-network